<h1>Welcome to Eat-Da-Burger!</h1>

<div id="ready">
    <h2>Order up!</h2>
    <ul>
        {{#each burgers}}
            {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}
            {{/unless}}
        {{/each}}
    </ul>
</div>

<div id="devoured">
    <ul>
        {{#each burgers}}
            {{#if devoured}}
                {{> burgers/burger-block devoured=true}}
            {{/if}}
        {{/each}}
    </ul>
</div>

<div id="addOrder">
    <h2>Add your order!</h2>
    <form class="create-burger">
        <div class="form-group">
            <label for="burger">Whatchu want?</label>
            <input type="text" id="burger" name="kind">
        </div>
        <button type="submit">Comin' right up!</button>
    </form>
</div>